.pc__img {
	display: none;
}

.sp__img {
	display: block;
}

body {
	background: url(../img/studyplace-logo-mark.png) no-repeat top right 150%;
	min-width: 100%;
	width: 100%;
}

.header__wrap, .header__wrap2 {
	height: 70px;
	min-width: 100%;
	width: 100%;
}

.header {
	margin-top: 15px;
	width: 95%;
}

.header h1 {
	width: 210px;
}

.header h1 img {
	width: 100%;
}

.header .global_nav {
	justify-content: flex-end;
	margin-top: 6px;
	width: 120px;
}

.header .global_nav ul {
	display: none;
}

.global_nav-sp {
	display: block;
	margin-right: 12px;
	width: 35px;
}

.global_nav-sp-close {
	display: block;
}

.open .global_nav-sp-close {
	display: none;
}

.global_nav-sp-close img,
.global_nav-sp-open img {
	width: 100%;
}

.global_nav-sp-open {
	display: none;
}

.open .global_nav-sp-open {
	display: block
}

.header .global_nav .contact_button {
	width: 35px;
}

.header .global_nav .contact_button img {
	width: 100%;
}

.global_nav-hamburger {
	display: none;
}

.global_nav-hamburger.open {
	background-color: rgba(0, 79, 148, .9);
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	text-align: center;
	padding-top: 90px;
	width: 100%;
	z-index: 100;
}

.global_nav-hamburger.open h2 {
	color: #00a0e9;
	display: block;
	font-size: 4vw;
	font-family: "Vollkorn";
	font-style: italic;
	margin-bottom: 2vh;
}

.global_nav-hamburger.open .menu {
	display: block;
	margin-bottom: 6vh;
	width: 100%;
}

.global_nav-hamburger.open .menu li {
	margin-bottom: 3vh;
}

.global_nav-hamburger.open .menu a {
	color: #fff;
}

.global_nav-hamburger.open .global_site_nav {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-bottom: 4vh;
	padding-left: 0;
}

.global_nav-hamburger.open .global_site_nav li:first-of-type::after {
	content: "/";
	color: #fff;
	margin: 0 2vw;
}

.global_nav-hamburger.open .global_site_nav a {
	color: #fff;
	font-size: 13px;
}

.global_nav-hamburger.open .l-site__sns {
	display: flex;
	min-width: 100%;
	justify-content: center;
	list-style: none;
	padding-left: 0;
	position: relative;
	top: 0;
	left: 0;
}

.global_nav-hamburger.open .site__sns-facebook,
.global_nav-hamburger.open .site__sns-twitter,
.global_nav-hamburger.open .site__sns-instagram {
	margin: 0;
	position: relative;
	top: 0;
}

.global_nav-hamburger.open .site__sns-twitter {
	margin: 0 4vw;
}

.l-site__sns {
	display: none;
}

.l-home__top,
.l-home__notice,
.l-home__support,
.l-home__concept,
.l-home__policy {
	min-height: 625px;
	min-width: 100%;
	padding-bottom: 20px;
}

.l-home__news,
.l-home__media,
footer,
.l-footer__pagetop {
	min-width: 100%;
}

.home__top {
	padding-top: 200px;
}


.home__media {
	padding: 6vh 0;
}

.home__top,
.home__notice,
.home__support,
.home__concept,
.home__policy {
	width: 95%;
}

.home__concept {
	padding-top: 100px;
}

.home__news-title-wrap {
	min-width: 100%;
	width: 95%;
}

.home__top-title span,
.home__notice-title span,
.home__support-title span,
.home__concept-title span,
.home__news-title span,
.home__media-title span,
.home__policy-title span {
	font-size: 14px;
	margin-bottom: .6em;
}

.home__top-title,
.home__notice-title,
.home__support-title,
.home__concept-title,
.home__news-title,
.home__media-title {
	font-size: 24px;
	margin-bottom: .7em;
}

.home__policy-title {
	font-size: 24px;
}

.home__news-title {
	width: 95%;
}

.home__top-detail,
.home__notice-detail {
	margin-bottom: 4vh;
}

.home__top-detail p,
.home__notice-detail p,
.home__support-detail p {
	font-size: 12px;
	margin-bottom: 2em;
}

.home__concept-detail p {
	font-size: 14px;
}

.button__next {
	background-position: 93% center;
	width: 200px;
}

.button__next a {
	font-size: 12px;
}

.home__notice {
	flex-wrap: wrap;
}

.home__notice-sentence {
	margin-top: 90px;
	order: 1;
	width: 100%;
}

.home__notice-image-collection-first {
	order: 2;
}

.home__notice-image-collection-first,
.home__notice-image-collection-second {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	width: 50%;
}

.home__notice-image-collection-first figure,
.home__notice-image-collection-second figure {
	width: 50%;
}

.home__notice-image-collection-first figure:nth-child(2),
.home__notice-image-collection-second figure:nth-child(2) {
	margin-top: 30px;
}

.home__notice-image-collection-first figure img,
.home__notice-image-collection-second figure img {
	width: 100%;
}

.home__concept-detail::before {
	font-size: 12px;
	top: -1.8em;
}

.home__concept-detail {
	margin-bottom: 2em;
}

.home__concept-detail h3 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 2.5em;
}

.home__concept-detail-br {
	display: block;
}

.home__news-detail-wrap {
	width: 100%;
}

.home__news-list {
	flex-wrap: wrap;
	width: 95%;
}

.home__news-list-detail {
	border-right: none;
	border-bottom: 1px solid #edecea;
	width: 100%;
}

.home__news-list-detail:last-of-type {
	border-bottom: none;
}

.home__news-list-detail article {
	margin: 3vh 4vw;
}

.home__news-post-time {
	font-size: 12px;
}

.home__news-list-detail h3 {
	font-size: 16px;
	margin-bottom: 1.2em;
	min-height: 0;
}

.home__news-category {
	font-size: 12px;
}

.home__news-article_wrap {
	min-width: 100%;
}

.home__news-article_wrap p {
	font-size: 12px;
	padding: 2.4em;
}

.home__media .bx-wrapper {
	padding: 0;
}

.home__media .bx-wrapper .bx-controls-direction a {
	display: none;
}

.home__media .bx-wrapper .bx-pager.bx-default-pager {
	width: 100%;
}

.home__media-list-detail img {
	width: 90%;
}

.footer__pagetop {
	font-size: 14px;
	padding: 1.6em 0;
}

.l-footer__contents {
	padding: 5vh 0;
}

.l-footer__contents figure {
	margin: 0 auto;
	width: 128px;
}

.l-footer__contents img {
	height: 100%;
	margin-bottom: 3em;
	width: 100%;
}

.footer__contents-menu-wrap {
	margin-bottom: 0;
}

.footer__contents-menu-wrap:last-of-type {
	margin-bottom: 3vh;
}

.footer__contents-menu-wrap ul {
	flex-wrap: wrap;
	justify-content: center;
	width: 300px;
}

.footer__contents-menu-wrap li {
	margin-bottom: 2vh;
}

.footer__contents-menu-wrap a {
	font-size: 14px;
}

.l-footer__contents small {
	font-size: 12px;
}

.contents__policy-list h4 {
	font-size: 16px;
}

.l-contents__service {
	min-height: 500px;
	min-width: 100%;
}

.contents__service {
	padding-top: 300px;
	width: 95%;
}

.contents__service-title span {
	font-size: 14px;
	margin-bottom: .6em;
}

.contents__service-title {
	font-size: 24px;
}

.contents__service-subtitle {
	font-size: 12px;
}

.l-contents__service-detail {
	min-height: 625px;
	min-width: 100%;
}

.contents__service-detail,
.contents__service-price {
	width: 95%;
}

.contents__service-detail-title,
.contents__service-price-title {
	font-size: 20px;
}

.contents__service-list li {
	display: block;
	margin-top: 3em;
}

.contents__service-list li:not(:last-child)::after {
	bottom: -1.5em;
	width: 50px;
}

.contents__service-list li figure {
	float: right;
	width: 30%;
}

.contents__service-list li figure img {
	height: 100%;
	width: 100%
}

.contents__service-list-detail {
	width: 100%;
}

.contents__service-list-detail h3 {
	font-size: 15px;
	margin-bottom: 10px;
}

.contents__service-list-detail h3 span {
	font-size: 12px;
}

.contents__service-list-detail p {
	line-height: 1.6em;
}

.contents__service-price-list li {
	line-height: 1.4em;
	padding: 1.2em 1em;
}

.contents__service-price-list-name {
	font-size: 1.1em;
	margin-bottom: 1em;
	width: 180px;
}

.contents__service-price-list-price {
	font-size: 1.1em;
	margin-right: 0;
}

.contents__service-price-list-br {
	display: block;
}

.l-contents__about {
	min-height: 500px;
	min-width: 100%;
}

.contents__about {
	padding-top: 300px;
	width: 95%;
}

.contents__about-title span {
	font-size: 14px;
	margin-bottom: .6em;
}

.contents__about-title {
	font-size: 24px;
}

.contents__about-subtitle {
	font-size: 12px;
	line-height: 1.4em;
}

.l-contents__about-detail {
	min-height: 625px;
	min-width: 100%;
}

.contents__about-detail,
.contents__about-access {
	padding: 4em 0 1em;
	width: 95%;
}

.contents__about-detail-title,
.contents__about-access-title {
	font-size: 20px;
	margin-bottom: 20px;
}

.contents__about-detail-title::before,
.contents__about-access-title::before {
	top: 40px;
}

.contents__about-company-profile th,
.contents__about-company-profile td {
	padding: 20px 0 20px 10px;
}

.contents__about-company-profile th {
	font-size: 15px;
	width: 100px;
}

.contents__about-company-profile td {
	font-size: 13px;
}

.contents__about-br {
	display: block;
}

.contents__about-company-profile-address {
	display: block;
}

.contents__about-company-profile-address:not(:last-child)::after {
	content: " ";
}

.contents__about-company-profile-contact {
	display: block;
}

.contents__about-company-profile-contact:not(:last-child)::after {
	content: "";
}

.l-contents__concept,
.l-contents__concept-list {
	min-height: 500px;
	min-width: 100%;
}

.contents__concept,
.contents__concept-list {
	padding-top: 300px;
	width: 95%;
}

.contents__concept-list {
	padding: 100px 0;
}

.contents__concept-title span {
	font-size: 14px;
	margin-bottom: .6em;
}

.contents__concept-title {
	font-size: 24px;
}

.contents__concept-subtitle {
	font-size: 12px;
	line-height: 1.4em;
}

.l-contents__concept-detail {
	min-height: 625px;
	min-width: 100%;
}

.contents__concept-detail {
	padding: 4em 0 1em;
	width: 95%;
}

.contents__concept-detail-title {
	font-size: 20px;
	margin-bottom: 20px;
}

.contents__concept-detail-title::before {
	top: 40px;
}

.contents__concept-detail article {
	display: block;
	margin-bottom: 40px;
	padding-bottom: 40px;
}

.contents__concept-detail article:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

.contents__concept-detail-text,
.contents__concept-detail-img,
.contents__concept-detail-img img {
	height: 100%;
	width: 100%;
}

.contents__concept-list-detail-br {
	display: block;
}

.contents__concept-list-detail h3 {
	font-size: 12px;
}

.contents__concept-list-detail p {
	font-size: 16px;
	line-height: 1.8em;
}

.l-contents__policy {
	min-width: 100%;
}

.contents__policy {
	width: 95%;
}

.contents__policy-title {
	font-size: 24px;
}

.contents__policy-title span {
	font-size: 14px;
	margin-bottom: .6em;
}

.contents__policy-subtitle {
	font-size: 12px;
}

.contents__policy-list h4 {
	margin-bottom: 12px;
}

.contents__policy-list p {
	margin: 0;
}

.l-contents__contact {
	border-bottom: 1px solid #ccc;
	min-width: 100%;
}

.contents__contact {
	border: none;
	width: 95%;
}

.contents__contact-title {
	font-size: 24px;
}

.contents__contact-title span {
	font-size: 14px;
	margin-bottom: .6em;
}

.contents__contact-subtitle {
	font-size: 12px;
	line-height: 1.4;
}

.l-contents__contact-detail {
	min-width: 100%;
}

.contents__contact-detail {
	width: 95%;
}

.contents__contact-form table {
	margin-bottom: 30px;
}

.contents__contact-form caption {
	font-size: 18px;
	line-height: 1;
}

.contents__contact-form caption span {
	display: block;
	line-height: 1.6;
	margin-top: 20px;
}

.contents__contact-form th,
.contents__contact-form td {
	display: block;
	width: 100%;
}

.contents__contact-form th {
	font-size: 18px;
	padding: 30px 0 0;;
}

.contents__contact-form td {
	font-size: 16px;
	padding: 25px 0;
}

.contents__contact-form-title,
.contents__contact-form-company input,
.contents__contact-form-name input,
.contents__contact-form-kana input,
.contents__contact-form-tel input,
.contents__contact-form-mail input,
.contents__contact-form-detail textarea {
	width: 100%;
}

.contents__contact-form-pref div {
	width: 160px;
}

.contents__contact-form-tel input:not(:first-of-type) {
	margin-left: 4px;
}

.contents__contact-form-tel input:not(:last-of-type) {
	margin-right: 4px;
}

.contents__contact-form-radio input + span::before,
.contents__contact-form-check input + span::before {
	height: 25px;
	margin-right: 5px;
	width: 25px;
}

.contents__contact-form-radio input:checked + span::before {
	font-size: 11px;
	line-height: 2.2;
}

.contents__contact-form-check input:checked + span::before {
	line-height: 1.5;
}

.contents__contact-form-radio span:not(:last-child),
.contents__contact-form-check span:not(:last-child) {
	margin-right: 10px;
}

.contents__contact-form-policy {
	margin-bottom: 30px;
}

.contents__contact-form-submit {
	margin-bottom: 35px;
}

.contents__contact-form-submit input {
	padding: 10px 0;
	width: 300px;
}

.contents__contribution {
	box-sizing: border-box;
	left: 0;
	padding: 0 20px;
}

.l-contents__contribution,
.l-contents__contribution-detail {
	max-width: 100%;
}

.l-contents__contribution {
	min-height: 400px;
	min-width: auto;
}

.l-contents__contribution-detail {
	display: block;
	padding: 30px 20px;
}

.contents__contribution,
.contents__contribution-detail {
	width: 100%;
}

.contents__contribution-detail {
	margin-bottom: 50px;
}

.contents__contribution-detail > section {
	margin-bottom: 40px;
}

.contents__contribution-detail h2 {
	font-size: 18px;
}

.contents__contribution-detail h3 {
	font-size: 15px;
}

.contents__contribution-detail p {
	font-size: 13px;
}

.contents__contribution-detail-contact br {
	display: inline;
}

.contents__contribution-date {
	font-size: 13px;
	margin-bottom: 10px;
	width: 80px;
}

.contents__contribution-title {
	font-size: 20px;
	padding-bottom: 30px;
}

.contents__contribution-title::after {
	bottom: 15px;
}

.contents__contribution-link {
	display: inline-block;
}

.contents__contribution-sidebar {
	width: 100%;
}

.l-contents__archive,
.l-contents__archive-list {
	min-width: 100%;
}

.contents__archive {
	padding-top: 100px;
}

.contents__archive,
.contents__archive-list {
	width: 95%;
}

.contents__archive-list {
	margin-bottom: 50px;
	padding-top: 50px;
}

.contents__archive-title {
	font-size: 20px;
}

.contents__archive-list-detail {
	height: 100%;
	width: 100%;
}

.contents__archive-list-detail:last-child {
	margin-bottom: 0;
}

.contents__archive-list article {
	flex-wrap: wrap;
	width: 100%;
}

.contents__archive-list-text {
	width: 100%;
}

.contents__archive-list-text h3 a {
	font-size: 16px;
}

.contents__archive-list article figure {
	height: 100%;
	width: 100%;
}